@font-face {
    font-family: "digital";
    src: url(fonts/digital.ttf); 
}

body {
    margin: 0;
    font-family: "digital";
    color: whitesmoke;
    background-color: #080705;
}

h3 {
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: 8px;
    text-shadow: 0 0 5px white;
}

h4 {
    font-size: 18px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px white;
}

img {
    width: 95px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.score {
    width: 117px;
    height: 120px;
    padding: 0 20px 0 18px;
    background-color: #080001;
    color: whitesmoke;
    font-size: 90px;
    line-height: 127px;
    border: 1px solid #817F8290;
    border-radius: 10px;
    box-shadow: 0 0 8px whitesmoke;
    text-shadow: 0 0 8px white;
    margin: 30px auto;
}

button {
    width: 45px;
    height: 45px;
    margin: 26px 2px;
    background-color: #080705;
    border: 3px solid #FFFFFF95;
    border-radius: 5px;
    color: whitesmoke;
    text-shadow: 0 0 2px whitesmoke;
    font-family: "digital";
    font-size: 23px;
    line-height: 28px;
}

button:hover {
    box-shadow: 0 0 6px white;
    color: #D90429;
}

#countdown {
    width: 130px;
    height: 50px;
    background-color: #817F8299;
    border-radius: 10px;
    color: #D90429;
    font-size: 45px;
    text-shadow: 0 0 7px #D90429;
    box-shadow: 0 0 5px whitesmoke;
}